#create your own .env file in the same directory as this with the following format. Fill in your db_username and passme (password).
MONGODB_URI=your-mongodb-connection-string
BACKUP_MONGODB_URI=your-mongodb-connection-string
VITE_GEMINI_API_KEY=your-gemini-api-key