#create your own .env file in the same directory as this with the following format. Fill in your db_username and passme (password).
# Database URIs
MONGODB_URI=your-mongodb-connection-string
# GEMINI URIs
VITE_GEMINI_API_KEY=your-gemini-api-key