#create your own .env file in the same directory as this with the following format. Fill in your db_username and passme (password).
MONGODB_URI=mongodb+srv://<db_username>:<passme>@cluster0.5dnvpzd.mongodb.net/?appName=Cluster0
